

.recipeCardFront {
  background-color: white;
  width: 250px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
  margin: 40px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  
}


.recipeCardFront:hover {
    transform:  scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 0.2s ease-in-out

}

.recipeCardFront:hover h2 {
    transition: 0.2s ease-out; 
}





.recipeCardFront>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.recipeCardFront h2 {
    position: absolute;
    color: white;
    margin: 0;
    top:50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    transition: 0.2s
    
    
    
   
}

.recipeCardFront:hover h2 {
    top: 20%;
    transition: 0.2s ease-in-out
}



#description {
    position: absolute;
    color: white;
    margin: 0;
    top:50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    /* padding: 10px; */
    font-size: 12px;
    font-weight: bold;
    opacity:0;
    
}
.recipeCardFront:hover #description{
    opacity: 1;
    transition: 0.4s ease-in-out;

}

#times {
    position: absolute;
    color: white;
    margin: 0;
    bottom:20%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    opacity:0;
}
.recipeCardFront:hover #times{
    opacity: 1;
    transition: 0.4s ease-in-out;

}

#servingSize {
    position: absolute;
    color: white;
    margin: 0;
    bottom:20px;
    left: 25px;
    width: 80%;
    font-size: 12px;
    font-weight: bold;
    opacity:0;
}

.recipeCardFront:hover #servingSize{
    opacity: 1;
    transition: 0.4s ease-in-out;

}

.recipeList>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    
}

.recipeCardBack {
    background-color: white;
    height: 80vh;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    background-size: cover;
    position: absolute;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    
}
 ::-webkit-scrollbar {
    display: none;
}



.recipeCardGhost {
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 10px;
    margin: 40px;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.cardBackground {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
    background-color: black;
     
}

.ingredients {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    top: 0;
    margin-bottom: 0;
    position: sticky;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    
}

.ingredients button{
    display: absolute;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.ingredients>ul {
    font-size: 12px;
    margin-left: 15%;
    height: 100%;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    bottom: 0;
    list-style-type: none;
    
    
}


.steps {
    width: 60%; 
    right: 20px;
}

.steps>ul{
    font-size: 12px;
    margin-top: 20px;
    list-style-type: none;
    width: 80%;
    right: 20px;
    margin-bottom: 20px;

}
.steps>ul li {
    margin-top: 10px;
}

.bold {
    font-weight: bolder;
    font-size: 20px;
    
}

.recipeName> h2{
    position: absolute;
    color: white;
    margin: 0;
    top:20px;
    margin-left: 20px;
    padding: 0;
    
}



