.centerText {
  text-align: center;
}

.bigText {
  font-size: 230px;
}

.cards {
  border: black solid 2px;
  padding: 1.5%;
  border-radius: 20%;
  display: inline-block;
}

.cards p{
  padding: 0%;
}